{% extends 'base.html' %}
{% block title_block %}
    <title> Anantapur </title> 
{% endblock %}

{% block body_block %}
    <div class="container">
        <br>
        <form method="POST" action="{{url_for('predict_Anantapur')}}">
            <div class="col-sm-7">
                <label for="pH" class="form-label">power of Hydrogen (pH)</label>
                <input type="number", class="form-control", id="pH", name="pH", step="any", min="4.5", max="10", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="EC" class="form-label">Electrical Conductivity (EC)</label>
                <input type="number", class="form-control", id="EC", name="EC", step="any", min="0", max="1.8", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="OC" class="form-label">Organic Carbon (OC)</label>
                <input type="number", class="form-control", id="OC", name="OC", step="any", min="0.0", max="1.6", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Zn" class="form-label">Zinc (Zn)</label>
                <input type="number", class="form-control", id="Zn", name="Zn", step="any", min="0", max="4", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Fe" class="form-label">Iron (Fe)</label>
                <input type="number", class="form-control", id="Fe", name="Fe", step="any", min="0", max="35", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Mn" class="form-label">Manganese (Mn)</label>
                <input type="number", class="form-control", id="Mn", name="Mn", step="any", min="0", max="35", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Soil Type" class="form-label">Soil Type</label>
                <select id="Soil Type" name="SoilType" class="form-select w-100" required>
                    <option value="Mixed Soil" selected>Mixed Soil</option>
                    <option value="Red Soil">Red Soil</option>
                    <option value="Sandy Soil">Sandy Soil</option>
                    <option value="Black Soil">Black Soil</option>
                </select>   
            </div>
            <br>
            <div class="col-sm-7">
                <input type="submit", class="btn btn-primary", value="Predict!">
            </div>
            <br>
            <br> 
        </form>
    </div>
{% endblock %}