{% extends 'base.html' %}
{% block title_block %}
    <title> Guntur </title> 
{% endblock %}

{% block body_block %}
    <div class="container">
        <br>
        <form method="POST" action="{{url_for('predict_Guntur')}}">
            <div class="col-sm-7">
                <label for="pH" class="form-label">power of Hydrogen (pH)</label>
                <input type="number", class="form-control", id="pH", name="pH", step="any", min="6", max="10", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="EC" class="form-label">Electrical Conductivity (EC)</label>
                <input type="number", class="form-control", id="EC", name="EC", step="any", min="0", max="9", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="OC" class="form-label">Organic Carbon (OC)</label>
                <input type="number", class="form-control", id="OC", name="OC", step="any", min="0", max="1.5", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="K" class="form-label">Potassium (K)</label>
                <input type="number", class="form-control", id="K", name="K", step="any", min="50", max="1570", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Ca" class="form-label">Calcium (Ca)</label>
                <input type="number", class="form-control", id="Ca", name="Ca", step="any", min="900", max="13400", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Mg" class="form-label">Magnesium (Mg)</label>
                <input type="number", class="form-control", id="Mg", name="Mg", step="any", min="100", max="2500", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Zn" class="form-label">Zinc (Zn)</label>
                <input type="number", class="form-control", id="Zn", name="Zn", step="any", min="0", max="20", required>
            </div>
            <br>
            <div class="col-sm-7">
                <input type="submit", class="btn btn-primary", value="Predict!">
            </div>
            <br>
            <br> 
        </form>
    </div>
{% endblock %}