{% extends 'base.html' %}
{% block title_block %}
    <title> East Godavari </title> 
{% endblock %}

{% block body_block %}
    <div class="container">
        <br>
        <form method="POST" action="{{url_for('predict_East_Godavari')}}">
            <div class="col-sm-7">
                <label for="pH" class="form-label">power of Hydrogen (pH)</label>
                <input type="number", class="form-control", id="pH", name="pH", step="any", min="4", max="9", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="EC" class="form-label">Electrical Conductivity (EC)</label>
                <input type="number", class="form-control", id="EC", name="EC", step="any", min="0", max="4", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="P" class="form-label">Phosphorus (P)</label>
                <input type="number", class="form-control", id="P", name="P", step="any", min="0", max="85", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="K" class="form-label">Potassium (K)</label>
                <input type="number", class="form-control", id="K", name="K", step="any", min="50", max="400", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Mn" class="form-label">Manganese (Mn)</label>
                <input type="number", class="form-control", id="Mn", name="Mn", step="any", min="27", max="790", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Soil Type" class="form-label">Soil Type</label>
                <select id="Soil Type" name="SoilType" class="form-select w-100" required>
                    <option value="Red Soil" selected>Red Soil</option>
                    <option value="Red Sandy Loam Soil">Red Sandy Loam Soil</option>
                </select>   
            </div>
            <br>
            <div class="col-sm-7">
                <input type="submit", class="btn btn-primary", value="Predict!">
            </div>
            <br>
            <br> 
        </form>
    </div>
{% endblock %}