{% extends 'base.html' %}
{% block title_block %}
    <title> Kurnool </title> 
{% endblock %}

{% block body_block %}
    <div class="container">
        <br>
        <form method="POST" action="{{url_for('predict_Kurnool')}}">
            <div class="col-sm-7">
                <label for="pH" class="form-label">power of Hydrogen (pH)</label>
                <input type="number", class="form-control", placeholder="min = 5, max = 10", id="pH", name="pH", step="any", min="5", max="10", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="EC" class="form-label">Electrical Conductivity (EC)</label>
                <input type="number", class="form-control", placeholder="min = 0, max = 18", id="EC", name="EC", step="any", min="0", max="18", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="OC" class="form-label">Organic Carbon (OC)</label>
                <input type="number", class="form-control", placeholder="min = 0, max = 1.2", id="OC", name="OC", step="any", min="0", max="1.2", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="P" class="form-label">Phosphorus (P)</label>
                <input type="number", class="form-control", placeholder="min = 0, max = 115", id="P", name="P", step="any", min="0", max="115", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Zn" class="form-label">Zinc (Zn)</label>
                <input type="number", class="form-control", placeholder="min = 0, max = 6.5", id="Zn", name="Zn", step="any", min="0", max="6.5", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Fe" class="form-label">Iron (Fe)</label>
                <input type="number", class="form-control", placeholder="min = 0, max = 45", id="Fe", name="Fe", step="any", min="0", max="45", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Cu" class="form-label">Copper (Cu)</label>
                <input type="number", class="form-control", placeholder="min = 0, max = 4", id="Cu", name="Cu", step="any", min="0", max="4", required>
            </div>
            <br>
            <div class="col-sm-7">
                <input type="submit", class="btn btn-primary", value="Predict!">
            </div>
            <br>
            <br> 
        </form>
    </div>
{% endblock %}