{% extends 'base.html' %}
{% block title_block %}
    <title> Our Goal </title> 
{% endblock %}
{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <br>
            <h1 class="display-4" style="color: #374251; font-family: 'Roboto', sans-serif;">Our Goal</h1>
            <br>
            <div>
                    <h5 class="para"  style="font-family: 'Roboto', sans-serif;" >
                    
                        Our project comes under the domain of Precision Agriculture. It helps farmers make informed decisions  with regards <br>
                        to the kind of crop they must invest in to get good returns. The aim of this project is to build  a predictive model <br>
                        to recommend the most suitable crop to grow based on the various parameters that  influence the fertility of the soil <br>
                        with the help of machine learning algorithms. A farmer or a horticulturist  toils all day and keeps himself really busy <br>
                        throughout the year by looking after his crops and providing  them with the right amount of water and nutrients expecting <br>
                        only one thing in return. And this is good crop  yield. But if the farmer or the horticulturist makes a mistake in the <br>
                        very first step by choosing the wrong  crop to cultivate, then the all the remaining steps in the process is absolutely <br>
                        useless. So, our main goal in  this project is to give the farmer or the horticulturist a sensible start to their <br>
                        cropping season by helping  them chose the right crop to grow in their lands so that they are able to obtain a very good <br> 
                        yield at the end  of the harvest season. <br>
                    
                    </h5>

                    <h5 class="para"  style="font-family: 'Roboto', sans-serif;" >

                        Our aim in this project is to build a recommendation system that recommends the most suitable crop to be grown  given the <br>
                        properties of the soil and the surrounding atmospheric conditions of a specific location. We will be  narrowing down our <br>
                        focus onto a specific part of India. The properties of the soil that are to be taken into  consideration could include its <br>
                        nutrient contents and their quantities. The nutrients could include both  macronutrients as well as micronutrients. <br>
                        Macronutrients are those nutrients that are produced by the soil in  relatively larger quantities. Some examples of <br>
                        macronutrients include N, P, K, Ca, S, Mg, C, O, and H. On the  other hand, micronutrients are those nutrients that are <br>
                        produced by the soil in relatively smaller quantities. Some  examples of micronutrients include Fe, B, Cl, Mn, Zn, Cu, Mo, <br>
                        and Ni. These elements are present in the form of  salts beneath the soil and are absorbed by the plants in the form of <br>
                        ions. Other soil properties include pH, EC,  moisture, temperature, etc. The atmospheric conditions to be taken into <br>
                        consideration could include rainfall,  temperature, humidity, etc. On collecting the required data, we plan to use <br>
                        machine learning algorithms in order to  build robust models that can make forecasts with a very good accuracy level. <br>
                    
                    </h5>
            </div>
        </div>
    </div>
{% endblock %}