{% extends 'base.html' %}
{% block title_block %}
    <title> Prakasam </title> 
{% endblock %}

{% block body_block %}
    <div class="container">
        <br>
        <form method="POST" action="{{url_for('predict_Prakasam')}}">
            <div class="col-sm-7">
                <label for="pH" class="form-label">power of Hydrogen (pH)</label>
                <input type="number", class="form-control", id="pH", name="pH", step="any", min="4", max="10", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="EC" class="form-label">Electrical Conductivity (EC)</label>
                <input type="number", class="form-control", id="EC", name="EC", step="any", min="0", max="27", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="P" class="form-label">Phosphorus (P)</label>
                <input type="number", class="form-control", id="P", name="P", step="any", min="0", max="85", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="K" class="form-label">Potassium (K)</label>
                <input type="number", class="form-control", id="K", name="K", step="any", min="15", max="1540", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Zn" class="form-label">Zinc (Zn)</label>
                <input type="number", class="form-control", id="Zn", name="Zn", step="any", min="0", max="9", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Fe" class="form-label">Iron (Fe)</label>
                <input type="number", class="form-control", id="Fe", name="Fe", step="any", min="0", max="80", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Mn" class="form-label">Manganese (Mn)</label>
                <input type="number", class="form-control", id="Mn", name="Mn", step="any", min="0", max="45", required>
            </div>
            <br>
            <div class="col-sm-7">
                <input type="submit", class="btn btn-primary", value="Predict!">
            </div>
            <br>
            <br> 
        </form>
    </div>
{% endblock %}