{% extends 'base.html' %}
{% block title_block %}
    <title> Srikakulam </title> 
{% endblock %}

{% block body_block %}
    <div class="container">
        <br>
        <form method="POST" action="{{url_for('predict_Srikakulam')}}">
            <div class="col-sm-7">
                <label for="pH" class="form-label">power of Hydrogen (pH)</label>
                <input type="number", class="form-control", placeholder="min = 4, max = 9.5", id="pH", name="pH", step="any", min="4", max="9.5", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="EC" class="form-label">Electrical Conductivity (EC)</label>
                <input type="number", class="form-control", placeholder="min = 0, max = 9.5", id="EC", name="EC", step="any", min="0", max="9.5", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="OC" class="form-label">Organic Carbon (OC)</label>
                <input type="number", class="form-control", placeholder="min = 0, max = 2.5", id="OC", name="OC", step="any", min="0", max="2.5", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="P" class="form-label">Phosphorus (P)</label>
                <input type="number", class="form-control", placeholder="min = 0, max = 370", id="P", name="P", step="any", min="0", max="370", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Fe" class="form-label">Iron (Fe)</label>
                <input type="number", class="form-control", placeholder="min = 0, max = 360", id="Fe", name="Fe", step="any", min="0", max="360", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Mn" class="form-label">Manganese (Mn)</label>
                <input type="number", class="form-control", placeholder="min = 0, max = 215", id="Mn", name="Mn", step="any", min="0", max="215", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Soil Type" class="form-label">Soil Type</label>
                <select id="Soil Type" name="SoilType" class="form-select w-100" required>
                    <option value="Saline Soil" selected>Saline Soil</option>
                    <option value="Sandy Loam Soil">Sandy Loam Soil</option>
                    <option value="Red Soil">Red Soil</option>
                    <option value="Sandy Soil">Sandy Soil</option>
                    <option value="Black Soil">Black Soil</option>
                </select>   
            </div>
            <br>
            <div class="col-sm-7">
                <input type="submit", class="btn btn-primary", value="Predict!">
            </div>
            <br>
            <br> 
        </form>
    </div>
{% endblock %}