{% extends 'base.html' %}
{% block title_block %}
    <title> Vizianagaram </title> 
{% endblock %}

{% block body_block %}
    <div class="container">
        <br>
        <h1><i>Vizianagaram</i></h1>
        <br>
        <br>
        <form method="POST" action="{{url_for('predict_Vizianagaram')}}">
            <div class="col-sm-7">
                <label for="pH" class="form-label">power of Hydrogen (pH)</label>
                <input type="number", class="form-control", data-bs-toggle="popover", data-bs-trigger="focus", title="Units: Not Applicable", data-bs-content="Min Value = 4, Max Value = 10", id="pH", name="pH", step="any", min="4", max="10", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="EC" class="form-label">Electrical Conductivity (EC)</label>
                <input type="number", class="form-control", data-bs-toggle="popover", data-bs-trigger="focus", title="Units: mS/cm (microSiemens per linear centimeter)", data-bs-content="Min Value = 0, Max Value = 9", id="EC", name="EC", step="any", min="0", max="9", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="OC" class="form-label">Organic Carbon (OC)</label>
                <input type="number", class="form-control", data-bs-toggle="popover", data-bs-trigger="focus", title="Units: Not Applicable (%)", data-bs-content="Min Value = 0, Max Value = 1.5", id="OC", name="OC", step="any", min="0", max="1.5", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="P" class="form-label">Phosphorus (P)</label>
                <input type="number", class="form-control", data-bs-toggle="popover", data-bs-trigger="focus", title="Units: mg/kg (=ppm, parts per million)", data-bs-content="Min Value = 0, Max Value = 90", id="P", name="P", step="any", min="0", max="90", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="K" class="form-label">Potassium (K)</label>
                <input type="number", class="form-control", data-bs-toggle="popover", data-bs-trigger="focus", title="Units: mg/kg (=ppm, parts per million)", data-bs-content="Min Value = 7, Max Value = 815", id="K", name="K", step="any", min="7", max="815", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Fe" class="form-label">Iron (Fe)</label>
                <input type="number", class="form-control", id="Fe", name="Fe", step="any", data-bs-toggle="popover", data-bs-trigger="focus", title="Units: mg/kg (=ppm, parts per million)", data-bs-content="Min Value = 0, Max Value = 250", min="0", max="250", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Mn" class="form-label">Manganese (Mn)</label>
                <input type="number", class="form-control", id="Mn", name="Mn", data-bs-toggle="popover", data-bs-trigger="focus", title="Units: mg/kg (=ppm, parts per million)", data-bs-content="Min Value = 0, Max Value = 170", step="any", min="0", max="170", required>
            </div>
            <br>
            <div class="col-sm-7">
                <input type="submit", class="btn btn-primary", value="Predict!">
            </div>
            <br>
            <br> 
        </form>
    </div>
{% endblock %}