{% extends 'base.html' %}
{% block title_block %}
    <title> West Godavari </title> 
{% endblock %}

{% block body_block %}
    <div class="container">
        <br>
        <form method="POST" action="{{url_for('predict_West_Godavari')}}">
            <div class="col-sm-7">
                <label for="pH" class="form-label">power of Hydrogen (pH)</label>
                <input type="number", class="form-control", placeholder="min = 4, max = 9", id="pH", name="pH", step="any", min="4", max="9", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="EC" class="form-label">Electrical Conductivity (EC)</label>
                <input type="number", class="form-control", placeholder="min = 0, max = 6.5", id="EC", name="EC", step="any", min="0", max="6.5", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Mn" class="form-label">Manganese (Mn)</label>
                <input type="number", class="form-control", placeholder="min = 0, max = 95", id="Mn", name="Mn", step="any", min="0", max="95", required>
            </div>
            <br>
            <div class="col-sm-7">
                <label for="Soil Type" class="form-label">Soil Type</label>
                <select id="Soil Type" name="SoilType" class="form-select w-100" required>
                    <option value="Black Clay Soil" selected>Black Clay Soil</option>
                    <option value="Black Soil">Black Soil</option>
                    <option value="Brown Clay Soil">Brown Clay Soil</option>
                    <option value="Brown Soil">Brown Soil</option>
                    <option value="Clay Soil">Clay Soil</option>
                    <option value="Light Brown Soil">Light Brown Soil</option>
                    <option value="Red Sandy Loam Soil">Red Sandy Loam Soil</option>
                    <option value="Red Sandy Soil">Red Sandy Soil</option>
                    <option value="Red Soil">Red Soil</option>
                    <option value="Sandy Clay Soil">Sandy Clay Soil</option>
                    <option value="Sandy Loam Soil">Sandy Loam Soil</option>
                    <option value="Sandy Soil">Sandy Soil</option>
                </select>   
            </div>
            <br>
            <div class="col-sm-7">
                <input type="submit", class="btn btn-primary", value="Predict!">
            </div>
            <br>
            <br> 
        </form>
    </div>
{% endblock %}